/*
 * default values
 */

BODY {
  background-color: white;
  font-size: medium;
  color: black;

  /* this is necessary for the header and navigation
     DIVs to extend to page border */
  margin:  0pt;
  padding: 0pt;
  border:  0pt;
}

/*
 * Common formatting for all pages
 */

BODY H1 {
  font-size: large;
}

BODY H2 {
  font-size: medium;
}

DIV.header { 
  background-color: #167ab2;
  padding: 5pt;
}

/* violet navigation bar, just below the header */
DIV.navigation {
  background-color: #b0b0f0;
  padding: 5pt;
}

DIV.navigation A {
  padding: 5pt;
}

/* some space arounf body */
DIV.body {
  padding: 12pt;
}

/* SourceForge logo and "Valid HTML" image */
DIV.bottom-images {
  padding: 5pt;
}

DIV.bottom-images A {
  padding: 5pt;
}

/* some pages have a row of links at the top */
DIV.page-head-links {
  text-align: center;
}

DIV.page-head-links A {
  padding: 5pt;
}

/*
 * Home and News page
 */

DIV.what-is-wxperl {
  padding: 5pt;
  border: 1pt dotted black;
  background-color: #a0e0ff;
}

DIV.wxperl-news {
  padding: 5pt;
  /* spacing between news items */
  margin-top: 5pt;
  border: 1pt dotted black;
}

/*
 * Screenshots page
 */

/* each image + description */
DIV.screenshots DIV {
  padding: 20pt;
  text-align: center;
}

/*
 * User's page
 */
DIV.application-list {
  padding-left: 20pt;
}

DIV.organisation {
  padding-top: 10pt;
  paddig-bottom: 10pt;
  font-size: medium;
}

/*
 * for DocBook-generated HTML:
 * restore margin for all DIVs
 * make <programlisting> stand out visually
 */
DIV.navheader, DIV.navfooter, DIV.chapter, DIV.book {
  margin: 15pt;
}

PRE.programlisting {
  background-color: #e0e0e0;
}
