BODY { 
  background-color: white;
  color: black;
  margin:  0px;
  padding: 0px;
  border:  0px;
}

BODY * {
  xfont-size: 10pt
}

BODY H1 {
  font-size: 14pt;
}

BODY H2 {
  font-size: 12pt;
}

DIV.body {
  margin: 15px;
}

DIV.navigation {
  background-color: #b0b0f0;
  padding: 5pt;
}

DIV.navigation A {
  padding: 5pt;
}

DIV.bottom-images {
  padding: 5pt;
}

DIV.bottom-images A {
  padding: 5pt;
}

DIV.header { 
  background-color: #167ab2;
  padding-top: 10pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
}

.what-is-wxperl {
  padding: 5pt;
  margin-top: 5pt;
  border: 1pt dotted black;
  background-color: #a0e0ff;
}

.wxperl-news {
  padding: 5pt;
  margin-top: 5pt;
  border: 1pt dotted black;
}

DIV.page-head-links {
  text-align: center;
}

DIV.page-head-links A {
  padding: 5pt;
}

DIV.screenshots DIV {
  padding: 20pt;
  text-align: center;
}

DIV.application-list {
  padding-left: 20pt;
}
